@import "tailwindcss";

@layer utilities {
  /* Sombras duras e monocromáticas */
  .shadow-brutal {
    box-shadow: 6px 6px 0px 0px #000000;
  }
  .shadow-brutal-lg {
    box-shadow: 12px 12px 0px 0px #000000;
  }
  
  /* Efeito de clique profundo */
  .active-brutal:active {
    transform: translate(6px, 6px);
    box-shadow: 0px 0px 0px 0px #000000;
  }
}

body {
  background-color: #F4F4F5; /* zinc-100 para dar contraste com os cards brancos */
  color: #000000;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Ocultar barra de rolagem mantendo funcionalidade */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}